html,body {
     width: 100%;
    font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}

body::-webkit-scrollbar {
    width: .6em;
}
 
body::-webkit-scrollbar-thumb {
    border-radius: 15px;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 46%, #ffcfaf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 46%,#ffcfaf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 46%,#ffcfaf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffcfaf',GradientType=0 ); /* IE6-9 */
    outline: 1px solid;
}

h0{
    display:inline;
    background-color:white;
}

#header{
    width: 85%;
    height: 8%;
    padding-top:1%;
    padding-right:15%; 
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 30;
    
}

#header_m{
    width: 84.5%;
    height: 8%;
    padding-top:1%;
    padding-right:15%; 
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 30;
    
}

#header2{
       width: 85%;
    height: 8%;
    padding-top:1%;
    padding-right:15%;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 30;


}

#nav-current{
    color: #ff6600;
 
}

a {
    color: #333;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    font-style: normal;
    text-decoration: none;
}


.category{
    height:35%;
    background-color: white;
    margin-right:30px;
    padding: 2px;
    font-weight: 500;
    font-size:.8em;
}

#category-current{
    border-bottom-style: solid;
    border-bottom-color:#ff6600;
    border-bottom-width: 4px;
}

.category:hover{
    border-bottom-style: solid;
    border-bottom-color:#ff6600;
    border-bottom-width: 4px;
}

.cv{
    background-color: white;
    padding: 8px;
    font-size:.7em;
    border-width:1px;
    border-style:solid;
    border-color:#67c4e0;
}

.cv:hover{
    background-color: #67c4e0;
}

#cvlink:hover{
    color : #fff;
}

#intro {
    margin-top:6%;
    width: 70%;
    height: 45%;
    margin-left:14%;
}

#intro2 {
    margin-top:5%;
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    margin-bottom: 0%;
}

#profile2 {
    vertical-align: middle;
    float: left;
    width: 18%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-image: url(profile2.png);
}

#text{
    float: left;
    width:100%;
    height:100%;
    text-align: center;
    
}

#text2{
    float: left;
    width:100%;
    margin-top: 4%;
    height:50%;
    text-align: center;

}

#hi{
    font-size:4vw;
    line-height: 3.5vw;
    font-weight:500;
    margin-top:20px;
    margin-bottom: 2vw;
    color:rgba(255,102,0,1);

}

#introduction{
    margin-top: 5%;
    line-height: 1.2rem;
    margin-left: 19%;
    text-align: left;
    font-size: .8rem;
    font-weight:400;
}

#introduction2{
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 300;
    margin-bottom:20px;
    color:rgba(255,102,0,0.7)
}



#content{
width: 100%;
display: flex;
flex-direction: column;
    align-items: center;
    
}

#reel{
    margin-top: 4%;
    width:50%;display: flex;
    flex-direction: row;
      
}

.reelc{
    display: block;
    min-height:100%;
    width:100%;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 1%;
        background-color:#fff;
}


.hovertext {
    width:100%;
    height:100%;
    padding-left: 5%;
    padding-top: 10%;
    display: block;
    text-decoration: none;
    z-index: 20;
    opacity: 0;
    text-align: left;
    font-size:.85rem;
    line-height: 1rem;
    font-weight: 400;
    color: #ff6600;    
    background-color: #fff;
 
      -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.hovertext:hover {
        opacity: 1;
}

.hovertext2 {
    display: block;
    height: 55%;
    padding-top:45%;
    width: 100%;
    text-decoration: none;
    z-index: 20;
    opacity: 0;
    text-align: center;
    font-size:.9em;
    font-weight: 500;
    color: #ff6600;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        background-color:#fff;
    
    
      -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.hovertext2:hover {
        opacity: 1;
}


#stext {
    font-size:.8em;
    font-weight: 600;
    color: #000; 
}

#ur{
    background-image: url(ur.gif);
}
#sb{
    background-image:url(sb.gif);
}
#lpify {
    background-image:url(lpify.gif);
}
#cuttle {
    background-image:url(cuttle.gif);
}


a.link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    z-index: 10;
}



#connect {
    background-image:url(connect.gif);
   
}


.footer {

    width:100%;
    padding-top:25px;
    padding-bottom:15px;

    font-size:0.7em;
    text-align: center;
}

#title{
    margin-top:6%;
    font-size:2.1em;
    margin-left: 28%;
    text-align: left; 
    padding: 10px;
    font-weight: 600;   
}
#title2{
    margin-top:1%;
    font-size:2.1em;
    margin-left: 28%;
    text-align: left; 
    padding: 10px;
    font-weight: 600;   
}

#subtitle{
    margin-top:-1.2%;
    font-size:.8em;
    margin-left: 28%;
    text-align: left; 
    padding: 10px;
    font-weight: 500;
    color: #ffad76; 
}

#bodycontents{
    margin-top:1%;
    width:70%;
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    height:auto;
}

#leftnav{
    opacity: 0.6;
    width:20%;
    font-size: .8em;
    font-weight: 600;
    line-height: 2em;
    position: fixed;
    top: 15%;
    color:#aaa;
}

#leftnav2{
    opacity: 0.6;
    width:10%;
    font-size: .7em;
    font-weight: 600;
    line-height: 1.3em;
    position: fixed;
    top: 15%;
    color:#aaa;
}

#maincontents{
    margin-left:15.5%;
    width:80%;
    height:auto;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.55em;
}

#summarytext{
    color: #999;
    font-weight: 500;
}
#impcontents{
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.7em;
}

#mainvideo{
    padding-left:15%;
    width:500px;
    height:330px;
}

.inimage{
    width:80%;
    min-height:300px;
    margin-left:10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#lpify1{
    background-image:url("lpify1.png");
}

#lpify2{
    background-image:url("lpify2.png");
}

#lpify3{
    background-image:url("lpify3.png");
}
#lpify4{
    background-image:url("lpify4.png");
}
#lpify5{
    background-image:url("lpify5.png");
}

h3{
    font-size: 5em;
    
}


#connect1{
    background-image:url("connect1.png");
}

#connect2{
    background-image:url("connect2.png");
}

#connect3{
    background-image:url("connect3.png");
}
#connect4{
    background-image:url("connect4.png");
}

#connect5{
    background-image:url("connect5.png");
}

#connect6{
    background-image:url("connect6.png");
}



.celltext{
    width:100%;
    text-align: center;
    position:absolute;
    top:42%;
}


#content2 {
    margin-top:5%;
    padding-top:.2%;
    padding-bottom:3%;

    background-color: #fbfbfb;
    position:relative;
}

#jcontent{
    margin-top:5%;
    padding-top:.2%;
    background-color: #fbfbfb;
}

#dt1{
    background-image:url("dt1.png");
}

#dt2{
    background-image:url("dt2.png");
}

#sb1{
     background-image:url("sb1.png");
}
#sb2{
     background-image:url("sb2.png");
}
#sb3{
     background-image:url("sb3.png");
}
#sb4{
     background-image:url("sb4.png");
}

#sb5{
     background-image:url("sb5.png");
}
#sb6{
     background-image:url("sb6.png");
}
#sb6-2{
     background-image:url("sb6-2.png");
}
#sb7{
     background-image:url("sb7.png");
}
#sb8{
     background-image:url("sb8.png");
}
#sb9{
     background-image:url("sb9.png");
}
#sb10{
     background-image:url("sb10.png");
}
#sb11{
     background-image:url("sb11.png");
}
#sb12{
     background-image:url("sb12.png");
}

#designthinking{
    background-image:url(dt1.png);
}

#ev{
         background-image:url("ev.png");
}

#ev1{
         background-image:url("ev1.png");
}

#ev2{
         background-image:url("ev2.png");
}

#feyes{
         background-image:url("feyes.png");
}

#feyes2{
         background-image:url("feyes2.png");
             
}

#mobile{
         background-image:url("mobile.png");
}

#words{
    background-image: url(words.png);
}

#dsystem{
    background-image: url(dsystem.png);
}

#lowfi{
    background-image: url(lowfi.png);
}

#cuttle1{
    background-image: url(cuttle1.png);
}
#cuttle2{
    background-image: url(cuttle2.png);
}
#cuttle3{
    background-image: url(cuttle3.png);
}
#cuttle4{
    background-image: url(cuttle4.png);
}
#cuttle5{
    background-image: url(cuttle5.png);
}
#cuttle6{
    background-image: url(cuttle6.png);
}
#cuttle7{
    background-image: url(cuttle7.png);
}
#cuttle8{
    background-image: url(cuttle8.png);
}
#cuttle9{
    background-image: url(cuttle9.png);
}
#cuttle10{
    background-image: url(cuttle10.png);
}
#cuttle11{
    background-image: url(cuttle11.png);
}

#ur1{
    background-image: url(ur1.png);
}
#ur2{
    background-image: url(ur2.png);
}
#ur3{
    background-image: url(ur3.png);
}
#ur4{
    background-image: url(ur4.png);
}
#ur5{
    background-image: url(ur5.png);
}

#ur6{
    background-image: url(ur6.png);
}
#ur7{
    background-image: url(ur7.png);
}
#ur8{
    background-image: url(ur8.png);
}
#ur9{
    background-image: url(ur9.png);
}
#ur10{
    background-image: url(ur10.png);
}
#ur11{
    background-image: url(ur11.png);
}
#ur12{
    background-image: url(ur12.png);
}
#ur13{
    background-image: url(ur13.png);
}
#ur14{
    background-image: url(ur14.png);
}
#ur15{
    background-image: url(ur15.png);
}
#cuttle6{
    background-image: url(cuttle6.png);
}
#cuttle7{
    background-image: url(cuttle7.png);
}
#cuttle8{
    background-image: url(cuttle8.png);
}
#cuttle9{
    background-image: url(cuttle9.png);
}
#cuttle10{
    background-image: url(cuttle10.png);
}
#cuttle11{
    background-image: url(cuttle11.png);
}
.log{
    padding: 1.5%;
    margin-top:3%;
    margin-left: 20%;
    width:60%;
    height:190px;
    display: flex;
    flex-direction: row; 
    background-color: #fff;
    
      -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.log:hover{
    margin-right: 1%;
box-shadow: 3px 3px 3px #ddd;    
}

.date{
    width:10%;
    height:35%;
    border-right-style: solid;
   border-right-width: 5px;
    border-color: #ddd;
    font-size: 1.1rem;
    font-weight: 300;
    color: #ccc; 
    text-align: right;
    padding-right: 10px;
    line-height: 1.3rem;
}

#dates{
    font-weight: 600;
    font-size:1.5rem;
    color:#999;
}

.log_content{
    padding-left: 30px;
    padding-right:10px;
    width : 100%;
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.3rem;
    
    
}

.log_image{
    height:100%;
    width:60%;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.log_title{
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    color: #333; 
    
    margin-bottom:2%;
        
}

hr{
    margin-top:2.5%;
    width:60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}